@page "/"

<h1>🌍 EcoMonitor</h1>

<p>Transformando pequenas ações em grande impacto ambiental.</p>

<div style="display:flex; gap:20px; flex-wrap:wrap; margin-top:30px;">

    <EcoStatus
        Titulo="Reciclagem de Plástico"
        PesoAcao="1" />

    <EcoStatus
        Titulo="Descarte de Eletrônicos"
        PesoAcao="5" />

    <EcoStatus
        Titulo="Plantio de Árvores"
        PesoAcao="10" />

</div>